.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30rem;
  height: 5rem;

  font-size: 2rem;
  font-weight: 800;

  border-radius: 0.5rem;
  background-color: #ffffff;
}

.container:hover {
  background-color: #a2887d;
  color: #ffffff;

  transition: 0.3s;
}
